# Node.js dependencies
node_modules/

# Compiled JavaScript files
dist/

# TypeScript build directory
*.tsbuildinfo

# VS Code configurations
.vscode/

# Mac OS metadata files
.DS_Store

# Log files
*.log
npm-debug.log*

# Environment variables
.env

